<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="jumbotron" >
  
  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, class: "form-control"%>
  </div>

  <div class="field">
    <%= form.label :dateofbirth %>
    <%= form.date_field :dateofbirth, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :phonenumber %>
    <%= form.number_field :phonenumber, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :infection %>
    <%= form.text_field :infection, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :injury %>
    <%= form.text_field :injury, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
