<!DOCTYPE html>
<html>
  <head>
    <title>Cloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
   <nav role="navigation">
    <div class="inner">
        <a href="#nav" class="nav-collapse" id="nav-collapse">Menu</a>
            <ul class="nav" id="nav">
                <li><%= link_to "Home", root_path %></li>
                    <%= render 'devise/menu/registration_items' %>
                    <%= render 'devise/menu/login_items' %>
               
            </ul>
    </div>
</nav>
    
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> 
     </div>
  </body>
</html>
